.popupEvent {
  /* display: none; */
  opacity: 0;
  position: absolute;
  right: 350px;
  bottom: 100px;
  transition: opacity 0.5s linear;
}

.popupEvent_active {
  /* display: block; */
  opacity: 1;
  transition: opacity 0.5s linear;
  position: absolute;
  right: 350px;
  bottom: 100px;
  /* top: -64px; */
}

