.popupEvent {
  position: absolute;
  right: 350px;
  bottom: 100px;
  display: none;
  opacity: 0;

  /* transition: opacity 0.2s linear; */
}

.popupEvent_active {
  position: absolute;
  right: 350px;
  bottom: 100px;
  display: block;
  border: 1px solid #e9eff2;
  border-radius: 20px;
  box-shadow: var(--shadow-medium);
  opacity: 1;
  transition: opacity 0.2s linear;

  /* top: -64px; */
}

