.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 28px;
  max-width: 1028px;
}

.more {
  color: var(--color-accent-purple);
  font: var(--font-button);
  outline: none;
  box-shadow: none;
  border: none;
  margin: 10px 16px;
  padding: 0;
}
