.landing {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.button {
  display: flex;
  padding: 12px 18px;
  width: 220px;
  height: 44px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: Roboto, sans-serif;
}

// @TODO: Единообразная подложка

.main {
  width: 100%;
  background-image: url("../../assets/landing_bg_diag.png");
  background-position: center 860px;
  background-size: contain;
}

@media screen and (width < 768px) {
  .main {
    background: none;
  }
}

// FAQ

.sectionFaq {
  width: 100%;
}
.sectionFaqContainer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 80px 60px 140px;
}
.sectionFaqTitle {
  margin: 0 0 60px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}

@media screen and (width < 768px) {
  .sectionFaqContainer {
    padding: 40px 16px 32px;
  }
  .sectionFaqTitle {
    display: none;
  }
}

// FORM

.sectionForm {
  padding: 112px 0 165px;
  width: 100%;
  background: var(--color-accent-lightpink);
}
.sectionFormContainer {
  width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 83px;
}
.sectionFormTitle {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: var(--color-accent-secondary);
}
@media screen and (width < 768px) {
  .sectionForm {
    padding: 40px 16px 16px;
    background-color: #fbfbfb;
  }
  .sectionFormContainer {
    width: 100%;
    flex-direction: column;
  }
  .sectionFormTitle {
    max-width: 280px;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }
}
