.container {
  background-color: var(--color-main-background);
}

.main {
  display: flex;
  box-sizing: border-box;

  /* padding: 40px 132px 46px 52px; */
  padding: 40px 10px 46px;
  gap: 28px;
}

@media screen and (width > 1440px) {
  .main {
    justify-content: center;
  }
}
