.wheelbanner {
  display: flex;
  width: 29%;

  height: 148px;
  flex-direction: column;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  margin: 0;
}

.wheel {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 8px;
}

.name {
  margin: 0;
  font: var(--font-more);
  margin-bottom: 4px;
}

.text {
  margin: 0;
  font: var(--font-caption);
}
