@import "@/shared/styles/mixins.scss";

.profile {
  position: relative;
  padding: 50px 0 52px 52px;
  background-color: var(--color-background);
  &-title {
    font: var(--font-h1);
    margin: 0 0 32px 0;
    color: var(--color-black);
  }
}

.inner-container {
  display: flex;
  gap: 28px;
  padding-bottom: 52px;
}

.contacts-section {
  width: 324px;
  // width: 31.5%;
  @include flex-column;
  gap: 16px;
}

.analytics-section {
  width: 676px;
  // width: 65.7%;
}

.statics {
  @include flex-column;
  gap: 16px;
  &-title {
    margin: 32px 0 -16px;
    font: var(--font-h2);
    color: var(--color-black);
  }
}

.pie-chart {
  &-container {
    @include size(324px, 328px);
    border-radius: 20px;
    background-color: white;
    padding: 14px 10px 16px 20px;
  }
  &-title {
    margin: 0 0 25px 0;
    font: var(--font-h3);
  }
}

.no-data-message {
  font: var(--font-body);
  color: var(--color-icon-secondary);
  text-align: center;
  margin: 45% 0 0;
}

.circle-charts-section {
  display: flex;
  gap: 28px;
}

@media screen and (width > 1440px) {
  .profile {
    padding: 50px 0 0 0;
  }
  .profileContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1015px;
  }
}
