.container {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 680px;
  height: 826px;
  padding: 24px;
  padding-top: 16px;
  border-radius: 20px;
  border: 0.33px solid var(--color-button-secondary, #EBEBEB);
  background: var(--unnamed, #FFF);
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.03), 0px 0px 2px 0px rgba(0, 0, 0, 0.06);
}

.add_article {
  font-family: Montserrat;
  color: var(--light-text-text-primary, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 28px;
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--color-black, #2C2D2E);
  /* H4 */
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 12px;
  outline: none
}

.upload_container {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  vertical-align: center;
  padding: 9px 12px 11px 12px;
  color: var(--color-black, #2C2D2E);
  font: var(--font-body);
  border-radius: 12px;
  border: 1px solid var(--color-button-secondary, #EBEBEB);
}

.preview_image {
  height: 36px;
  width: 48px;
  padding: 0px 15px;
  gap: 4px;
  border-radius: 12px;
  border: 0.5px solid var(--color-accent-purple, #EBEBEB);
  background: var(--unnamed, #FFF);
  color: var(--color-accent-purple, #8A32E0);
  outline: none;
  font-size: 26px;
  vertical-align: center;
}

.title {
  display: flex;
  padding: 12px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 12px;
  border: 0.5px solid var(--color-button-secondary, #EBEBEB);
  background: var(--color-background, #EBF1F4);
  outline: none
}

.description {
  display: flex;
  height: 80px;
  padding: 12px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 0.5px solid var(--color-button-secondary, #EBEBEB);
  background: var(--color-background, #EBF1F4);
  outline: none
}

.delete_picture {
  padding: 0 0 0 8px;
  border-style: none;
  background: none;
  outline: none;
}

.url {
  display: flex;
  height: 42px;
  padding: 12px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 0.5px solid var(--color-button-secondary, #EBEBEB);
  background: var(--color-background, #EBF1F4);
  outline: none
}

.select {
  display: flex;
  height: 42px;
  align-items: center;
  align-self: stretch;
  outline: none
}

.select_container {
  display: flex;
  flex-direction: row;
}

.choosen_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.choosen {
  height: 36px;
  display: flex;
  padding: 9px 12px 11px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: 1px solid var(--color-button-secondary, #EBEBEB);
  margin: 0 2px;
}


.text {
  display: flex;
  height: 186px;
  padding: 12px;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 0.5px solid var(--color-button-secondary, #EBEBEB);
  background: var(--color-background, #EBF1F4);
  outline: none
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;

}

.submit {
  display: flex;
  height: 44px;
  width: 110px;
  padding: 12px 18px;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 16px;
  background: var(--color-accent-violet-disabled, rgba(138, 50, 224, 0.60));
  color: white;
}

.cancel {
  height: 44px;
  width: 98px;
  color: var(--color-accent-purple, #8A32E0);
  text-align: center;
  border-style: none;
  /* Button */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  border-radius: 16px;
  background: #EBEBEB;
}

.close {
  border-style: none;
  background: none;
  outline: none;
  margin-left: 241px;
  padding: 0;
  padding-top: 1px;
}

.delete {
  color: var(--color-background-secondary);
  font-size: var(--font-line-m);
  text-align: center;
  border-style: none;
  background: none;
}
