.container {
  display: flex;
  /*width: 65.7%;*/
  width: 676px;
  /* max-width: 676px; */
  height: 148px;
  padding: 0 0 0 20px;
  border-radius: 20px;
  background-color: var(--color-white);
  gap: 20px;
}

.text-container {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  margin: 12px 0;
}

.text-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 12px;
}

.text-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.text-heading {
  margin: 0;
  font: var(--font-h2);
}

.text-description {
  /*max-width: 290px;*/
  margin: 0;
  font: var(--font-body);
  margin-bottom: 12px;
}

.date-till {
  font: var(--font-body);
}

.image-container {
  width: 116px;
  height: 116px;
  border-radius: 12px;
}

.image {
  width: 140px;
  height: 140px;
  margin-top: 6px;
  padding-right: 4px;
}

.button {
  display: flex;
  width: 284px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border: 0;
  border-radius: 16px;
  background: var(--color-accent-purple);
  color: var(--color-white);
  font: var(--font-button);
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

/* .text {
  display: inline-block;
  height: 100%;
  font-size: 50px;
} */
