.records {
  position: relative;
}

.table-records {
  /* display: flex; */

  /* margin: 0 0 18px 14px; */

  /* gap: 132px; */

  display: grid;
  max-width: 1027px;
  justify-content: space-between;
  padding-left: 15px;

  /* align-items: center; */

  /* padding: 9px 20px; */

  /* border-radius: 20px; */

  margin: 26px 0 18px;
  grid-template-columns: 34% 19% 17% 15%;

  /* background-color: #FFF; */

  /* grid-template-columns: 30% 21% 16% 16%; */
}

.plug {
  visibility: hidden;
}

.sort-button {
  /* padding-left: 50px; */
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-self: flex-start;
  line-height: 18px;
  transition: opacity 0.5s linear;
}

.sort-button:hover {
  opacity: 0.6;
}

.sort-button:nth-child(2) {
  position: relative;
}

.text {
  overflow: hidden;
  font: var(--font-body);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.record {
  display: grid;
  max-width: 1028px;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px;
  border-radius: 20px;
  margin: 8px 0 0;
  background-color: #fff;
  grid-template-columns: 35% 19% 17% 12%;
}

.add-button {
  display: flex;
  padding: 10px 32px;
  border: 0;
  margin-top: 16px;
  background-color: var(--color-main-background);
  color: var(--color-accent-purple);
  cursor: pointer;
  font: var(--font-button);
  outline: none;
  transition: opacity 0.5s linear;
}

.add-button:hover {
  opacity: 0.6;
}
