.eventsPage {

  background-color: var(--color-main-background);
}

.eventsPageContainer {
  width: 100%;
  max-width: 1028px;
  margin: 0 auto;
  padding: 40px 132px 162px 50px;
}

.eventsContent {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 28px;
  padding: 0;
  margin-top: 28px;
  list-style: none;
}

.eventsContentNull {
  margin: 0;
  margin-top: 4px;
  font: var(--font-more);
  line-height: 18px;
  color: var(--color-black);
}
