/* .container {
  background-color: var(--color-main-background);
} */

/* .tests {
  padding: 40px 50px 46px;
  gap: 28px;
} */

.title {
  margin: 0 0 34px;
  font: var(--font-h1);
}

.banerblock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
  gap: 28px;
}

.subtitle {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

/* @media screen and (width > 1440px) {
  .container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .tests {
    max-width: 1097px;
    padding: 40px 0 0;
  }

  .form {
    background-color: aqua;
  }
} */
