.button {
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 32px;
  right: 32px;
  z-index: 1;
  background-color: var(--color-accent-lightpink);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%234c239d" class="bi bi-chevron-up"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/></svg>');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .button:hover {
    box-shadow: var(--shadow-small-purple);
    scale: 1.05;
  }
}

@media screen and (max-width: 767px) {
  .button {
    width: 48px;
    height: 48px;
    bottom: 24px;
    right: 16px;
    background-size: 24px 24px;
  }
}
