.button {
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 32px;
  right: 32px;
  z-index: 1;
  background-color: var(--color-accent-lightpink);
  background-image: url("../../../assets/chevron_up_white.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: var(--color-accent-purple);
}

@media screen and (max-width: 767px) {
  .button {
    width: 48px;
    height: 48px;
    bottom: 24px;
    right: 16px;
    background-size: 24px 24px;
  }
}
