form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
form h2 {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: var(--color-accent-secondary);
}
form input {
  width: calc((100% - 20px) / 2);
  height: 52px;
}
form textarea {
  width: 100%;
  min-height: 186px;
  resize: none;
}
form input,
form textarea {
  padding: 16px 12px;
  border-radius: 8px;
  border: 0.5px solid var(--color-icon-secondary);
}
form input::placeholder,
form textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-accent-gray);
}
form .error {
  display: block;
  width: 100%;
  color: var(--color-error);
}
form button {
  display: block;
  margin-top: 8px;
  padding: 12px 18px;
  width: 220px;
  height: 44px;
  border-radius: 16px;
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  font-family: Roboto, sans-serif;
  background-color: var(--color-accent-purple);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
form p {
  display: block;
  margin: -8px 0 0;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-accent-secondary);
}
form p a {
  text-decoration: none;
  color: var(--color-accent-secondary);
  border-bottom: 0.5px solid var(--color-accent-secondary);
}
