.container {
  display: flex;
  width: 192.4px;
  height: 58px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 0 0 12px 12px;
  background-color: var(--color-background-white);
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 6%))
    drop-shadow(0 4px 2px rgb(0 0 0 / 3%));
  font: var(--font-button);
  gap: 12px;
  scale: 1;
  &:hover {
    cursor: pointer;
    border-top: 4px solid transparent;
    color: #fff;
  }
}

.mood-button-red {
  border-top: 4px solid rgba(250, 61, 51, 1);
  &:hover {
    background-color: rgba(250, 61, 51, .8);
  }
  &:active {
    background-color: rgba(250, 61, 51, 1);
  }
}

.mood-button-orange {
  border-top: 4px solid rgba(255, 105, 65, 1);
  &:hover {
    background-color: rgba(255, 105, 65, .8);
  }
  &:active {
    background-color: rgba(255, 105, 65, 1);
  }
}

.mood-button-yellow {
  border-top: 4px solid rgba(254, 171, 35, 1);
  &:hover {
    background-color: rgba(254, 171, 35, .8);
  }
  &:active {
    background-color: rgba(254, 171, 35, 1);
  }
}

.mood-button-green {
  border-top: 4px solid rgba(153, 202, 101, 1);
  &:hover {
    background-color: rgba(153, 202, 101, .8);
  }
  &:active {
    background-color: rgba(153, 202, 101, 1);
  }
}

.mood-button-supergreen {
  border-top: 4px solid rgba(0, 183, 80, 1);
  &:hover {
    background-color: rgba(0, 183, 80, .8);
  }
  &:active {
    background-color: rgba(0, 183, 80, 1);
  }
}
