.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: var(--font-line-xl);
  color: var(--color-accent-secondary);
  font-weight: 500;
  margin-left: 1rem;
}
