.psychologist-info {
  display: flex;
  width: 31.5%;

  /* max-width: 324px; */
  height: 148px;
  flex-direction: column;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.name {
  margin: 0 0 8px;
  font: var(--font-h3);
}

.text {
  margin: 0 0 16px;
  font: var(--font-body);
}

.button {
  display: block;
  padding: 12px 0;
  border: 1px solid var(--color-accent-purple);
  border-radius: 16px;
  color: var(--color-accent-purple);
  cursor: pointer;
  font: var(--font-button);
  text-align: center;
  text-decoration: none;
}

.button:hover {
   border-color: var(--color-accent-violet);
   color: var(--color-accent-violet);
}

.button:active {
   border-color: var(--color-accent-secondary);
   color: var(--color-accent-secondary);
}
