@import '@/shared/styles/mixins.scss';

.period-picker {
  width: 162px;
  position: absolute;
  top: -46px;
  right: 34px;
  border: 0.5px solid var(--color-background);
  border-radius: 12px;
}

.select {
  @include flex-space-between;
  height: 30px;
  border-radius: 12px;
  padding: 0 5px 0 12px;
  background-color: var(--color-background);
  font: var(--font-body);
  &-options-opened {
    border-radius: 12px 12px 0 0;
  }
  &-button {
    @include size(24px, 24px);
    @include background-no-repeat-center-cover;
    border: none;
    background-color: var(--color-background);
    background-image: url("../../assets/chevron_down_24.svg");
    &-opened {
      background-image: url("../../assets/chevron_up_24.svg");
    }
  }
}

.options-list {
  width: 100%;
  @include list-initial-style;
  background-color: var(--color-background-white);
  box-shadow: var(--shadow-medium);
  margin: 0;
  &-item {
    padding: 8px 0 8px 14px;
    height: 36px;
    font: var(--font-body);
    cursor: pointer;
    &:hover {
      background-color: #f4f9fc;
    }
  }
}

.period-button {
  padding-right: 36px;
  width: 100%;
  height: 34px;
  border: none;
  border-top: 0.5px solid #B6C1CF;
  border-radius: 0 0 12px 12px;
  background-color: #fff;
  font: var(--font-body);
  color: var(--color-black);
  cursor: pointer;
  &:hover {
    background-color: var(--color-background);
  }
}
