.events {
  max-width: 324px;
}

.title {
  margin: 0;
  color: var(--color-black);
  font: var(--font-h3);
}

.list {
  max-height: 226px;
  overflow: hidden scroll;
  padding: 0;
  list-style: none;
}

.list::-webkit-scrollbar {
  width: 0;
}

.pointNoEvents {
  color: var(--color-icon-secondary);
  font: var(--font-body);

}
