@import '@/shared/styles/mixins.scss';

.input {
  position: relative;
  display: inline-block;
  width: 120px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 120px;
  height: 8px;
  padding: 0;
  border-radius: 20px;
  background: var(--color-button-secondary);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  width: 15px;
  height: 8px;
  background: var(--color-accent-purple);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-radius: 5px;
  width: 15px;
  height: 8px;
  background: var(--color-accent-purple);
  cursor: pointer;
  border: none;
}

.slider-yellow::-webkit-slider-thumb {
  background: #FCF202;
  border: none;
}

.slider-yellow::-moz-range-thumb {
  background: #FCF202;
  border: none;
}

