.eventsHeader {
  display: flex;
  margin-bottom: 32px;

  /* align-items: baseline; */
}

.eventsHeader__heading {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  color: var(--color-black);
  font: var(--font-h1);
}

.eventsHeader__button {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: none;
  margin: 0;
  cursor: pointer;
  object-fit: cover;
  transition: opacity 0.5s linear;
  background: transparent;
}

.eventsHeader__button:hover {
  opacity: 0.7;
}

.eventsHeader__button:disabled {
  cursor: auto;
}

.eventsHeader__month {
  padding: 0;
  margin: 0;
  color: var(--color-accent-secondary);
  font: var(--font-h1);
}
