.react-datepicker__header {
  background-color: white;
  border: none;
  padding: 0;
}

.react-datepicker__day-name {
  color: #888;
}

.custom-datepicker .react-datepicker__day--keyboard-selected,
.custom-datepicker .react-datepicker__day--keyboard-selected:hover {
  background-color: white;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="right"] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^="left"] .react-datepicker__triangle {
  display: none;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 8px;
}

.custom-datepicker {
  border: 0.5px solid #EBEBEB;
  border-radius: 8px;
  box-shadow: var(--shadow-medium);
}

.selected-date {
  border-radius: 0;
  border-bottom: 2px solid var(--color-accent-purple);
  background-color: white;
  color: #000;
}

.custom-datepicker-range {
  position: absolute;
  top: 35px;
  border-radius: 8px;
  border: none;
  box-shadow: var(--shadow-medium)
}
