/* .point {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 324px;
} */
.eventMainCard {
  display: flex;
  width: 324px;
  padding: 12px 16px;
  border-radius: 20px;
  margin-bottom: 12px;
  background: #fff;
  gap: 12px;
  cursor: pointer;
}

.eventMainCard:hover {
  background-color: var(--color-card-hover);
}

.leftBlock {
  display:flex;
  flex-direction: column;
  min-width: 52px;
}

.right-block {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.day {
  margin: 0;
  margin-bottom: 4px;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
}

.month {
  margin: 0;
  color: var(--color-black);
  font: var(--font-caption);
}

.name {
  margin: 0;
  max-width: 228px;
  white-space : nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-accent-purple);
  font: var(--font-body);
}

.time {
  margin: 0;
  color: var(--color-icon-secondary);
  font: var(--font-caption);
}
