.point {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 20px;
  margin-bottom: 12px;
  background: #fff;
  gap: 20px;
}

.leftBlock {
  display:flex;
  flex-direction: column;
}

.rightBlock {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.count {
  margin: 0;
  margin-bottom: 4px;
  color: var(--color-black);
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 500;
  line-height: 24px;
}

.month {
  margin: 0;
  color: var(--color-black);
  font: var(--font-body);
}

.typeActivity {
  margin: 0;
  color: var(--color-accent-purple);
  font: var(--font-body)
}

.time {
  margin: 0;
  color: var(--color-icon-secondary);
  font: var(--font-caption);
}

/* .point-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.text {
  margin: 0;
  color: var(--color-black);
  font: var(--font-body);
} */


