.input,select, .textarea {
  height: 44px;
  padding: 12px;
  border: 0.5px solid var(--color-button-secondary);
  border-radius: 12px;
  margin: 0;
  margin-bottom: 16px;
  background: var(--color-background);
  caret-color: var(--color-accent-purple);
  color: var(--color-icon-secondary);
  cursor: pointer;
  font: var(--font-body);
  opacity: 1;

  /* transition: opacity 0.5s linear; */
  transition: border 0.5s linear;
}

.input:hover,select:hover,.textarea:hover {
  border: 0.5px solid var(--color-icon-secondary);

  /* opacity: 0.7; */
}

.input:focus,select:focus,.textarea:focus {
  border: none;
  color: var(--color-black);
  outline: 0.5px solid var(--color-accent-purple);

  /* opacity: 0.7; */
}

label input, select {
  width: 100%;
}

option {
  border: none;
}

.formAddEvent__closed {
  display: none;
}

.formAddEvent__overlay {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.formAddEvent__overlay::before {
  width: 100%;
  height: 100%;
  background-color: black;
  content: '';
  opacity: 0.5;
}

.formAddEvent {
  position: fixed;
  width: 448px;
  padding: 23px;
  border: 0.33px solid var(--color-button-secondary);
  border-radius: 20px;
  background-color: var(--color-white);
}

.formAddEvent__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  color: var(--color-text-primary);
  font: var(--font-h2);
}

.formAddEvent__buttonClose {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.formAddEvent__buttonClose:hover {
  opacity: 0.7;
}

.formAddEvent__fieldsDate {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 16px;
}

.formAddEvent__headingField {
  padding: 0;
  margin: 0;
  margin: 16px 0 8px;
  color: var(--color-black);
  font: var(--font-more);
}

.formAddEvent__date {
  width: 48.75%;

  /* width: 35%; */

  /* margin-right: 4px; */
  margin-right: 12px;
}

.formAddEvent__separator {
  align-self: center;
  margin: 0 4px;
}

.formAddEvent__time {
  display: flex;
  width: 21.75%;
  justify-content: center;

  /* width: 25%; */
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.4;

  /* background: none; */
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;

  /* opacity: 0.4; */
  background: none;
}

/* input[type="time"] {
  background: var(--color-background);
  min-width: 150px;
}

input[type="time"]:before {
  content: '00:00';
  color: #9d9d9d;
  position: absolute;
  background: var(--color-background);
  width: 70px;
}

input[type="time"]:focus:before {
  width: 0;
  content: '';
} */

.formAddEvent__divider {
  margin: auto 4px;
  vertical-align: middle;
}

/* .formAddEvent__fields {
  display: block;
  border: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: min-content;
  margin-bottom: 16px;
} */
.formAddEvent__fieldTextarea {
  display: block;
  max-height: 125px;
}

.formAddEvent__description {
  width: 100%;
  height: 100px;
  padding: 8px 12px 16px;
  resize: none;

  /* margin-bottom: 0; */
}

.formAddEvent__countSymbolTextarea {
  position: relative;
  top: -25px;
  left: 85%;
  width: 100%;
  color: var(--color-icon-secondary);

  /* margin-left: auto; */

  /* text-align: end; */

  /* right: -100%; */

  /* margin: 0;
  padding: 0; */
  font: var(--font-caption);
}

.formAddEvent__countSymbolTextareaRed {
  position: relative;
  top: -25px;
  left: 85%;
  width: 100%;
  color: var(--color-error);
  font: var(--font-caption);
}

.formAddEvent__buttonsForm {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 20px;
}

.formAddEvent__buttonExit {
  width: 98px;
  padding: 10px 16px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-button-secondary);
  color: var(--color-accent-purple);
  cursor: pointer;
  font: var(--font-button);
  opacity: 1;
  transition: opacity 0.5s linear;
}

.formAddEvent__buttonExit:hover {
  opacity: 0.8;
}

.formAddEvent__buttonSubmit {
  width: 110px;
  padding: 12px 18px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-accent-purple);
  color: var(--color-white);
  cursor: pointer;
  font: var(--font-button);
  opacity: 1;
  transition: opacity 0.5s linear;
}

.formAddEvent__buttonSubmit:hover {
  opacity: 0.8;
}

@media(width <= 500px) {
  .formAddEvent__overlay {
    position: absolute;
    z-index: 11;
    height: 100%;
    align-items: flex-start;
  }

  .formAddEvent {
    position: absolute;
    top: 20px;
    width: 300px;
  }

  .formAddEvent__date {
    width: 100%;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .formAddEvent__time {
    width: 46%;
  }
}
