@import "@/shared/styles/mixins.scss";

.textarea {
  @include size(100%, 186px);
  padding: 16px 12px;
  border-radius: 8px;
  border: 0.5px solid var(--color-icon-secondary);
  background-color: var(--color-white);
  color: var(--color-text-primary);
  font: var(--font-body);
  outline: none;
  resize: none;
  &-area {
    @include flex-column;
    width: 100%;
    box-sizing: border-box;
  }
  &-container {
    position: relative;
  }
  &:hover {
    border: 0.5px solid var(--color-icon-secondary);
  }
  &:focus {
    border: 0.5px solid var(--color-accent-purple);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-accent-gray);
  }
  &-error {
    border: 0.5px solid var(--color-error);
    background-color: rgb(230 70 70 / 8%);
    &:hover {
      border: 0.5px solid var(--color-error);
    }
    &:focus {
      border: 0.5px solid var(--color-error);
    }
  }
}
