@import "@/shared/styles/mixins";

.custom-input {
  position: relative;
}

.custom-input input {
  width: 100%;
  height: 44px;
  border: 0.5px solid var(--color-button-secondary);
  border-radius: 12px;
  background-color: var(--color-background);
  padding-left: 12px;
  letter-spacing: 0.1px;
  outline: none;
  font: var(--font-body);
  color: var(--color-black);
  &::placeholder {
    font: var(--font-body);
    color: var(--color-icon-secondary);
  }
}

.custom-input .custom-icon {
  @include size (24px, 24px);
  position: absolute;
  top: 50%;
  right: 8px;
  cursor: pointer;
  transform: translateY(-50%);
  background-image: url('@/pages/profile/ui/calendar_24.svg');
  background-repeat: no-repeat;
}
